# Ignorar todo por defecto
*

# Permitir carpetas necesarias
!src/
!src/**
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties

# Permitir archivos necesarios del proyecto
!pom.xml
!mvnw
!mvnw.cmd
!docker-compose.yml
!.gitignore
!README.md
!HELP.md

# No subir credenciales
.env
*.env

# No subir compilados ni temporales
target/
build/
*.class
*.log

# IDEs
.idea/
.vscode/
*.iml